<main class="main-content py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 text-dark">
        <h2 id="title" class="text-center mb-4">Admin Dashboard</h2>
        <p class="text-center mt-3 tagline">
          Your
          <span
            ><strong
              ><u><em>Secure</em></u></strong
            ></span
          >
          Document Repository
        </p>
        <div class="container">
          <div class="row">
            <div class="col-6 col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">User Management</h6>
                  <p class="card-text">
                    <ul>
                      <li>Manage Users</li>
                      <li>Manage Roles</li>
                      <li>Permissions</li>
                    </ul>
                    
                </p>
                </div>
                <div class="card-footer">
                  <a href="/admin/users" class="admin-ctrl-btn">Users</a>
                </div>
              </div>
            </div>

            <div class="col-6 col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Document Management</h6>
                  <p class="card-text">
                    <ul>
                      <li>Approve Docs</li>
                      <li>Edit Docs</li>
                      <li>Delete Docs</li>
                    </ul>
                </p>
                </div>
                <div class="card-footer">
                  <a href="/admin/documents" class="admin-ctrl-btn"
                    >Documents</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12 text-center">
            <a href="/repository" class="btn">Document Repository</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
