<!-- Main Content -->
<main class="main-content py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 text-center">
        <h1 id="title">Welcome to <br />Safe Lock Library</h1>
        <p class="tagline">
          Your
          <span
            ><strong><u>Secure</u></strong></span
          >
          Document Repository
        </p>
        <div class="button-container">
          <a href="/login" class="btn">Login</a>
          <a href="/register" class="btn">Register</a>
        </div>
      </div>
    </div>
  </div>
</main>
